$font-family: cursive;
$bg-color: #4c9e9e;
$primary-color: teal;
$box-shadow-color: rgba(0, 0, 0, 0.3);
$text-color: #fff;
$button-hover-bg-color: #4c9e9e;
$button-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$button-hover-shadow: 0px 15px 20px rgba(46, 229, 157, 0.2);
$transition: all 0.3s ease 0s;
$font-size: 16px;